{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
        .list_container{display: flex; flex-direction: column}
</style>

<section class="section-wrapper">
        <div>
                <h1>MAIN PAGE THINGY</h1>
        </div>
        <div class="list_container">
                {% for ticket in tickets_list %}
                        <div>
                            <h3>Ticket numéro {{ ticket.id }}</h3>
                            <span>{{ ticket.openedBy }}</span>
                            <span>{{ ticket.createdAt.format('d-m-Y') }}</span>
                        </div>
                {% endfor %}
        </div>
</section>
{% endblock %}
